.container {
  position: relative;
  width: 100%;
}


.toggle {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
} 


.inputError {
  border-color: #ff4d4f;
} 